@page "/access"
@using HttpClientTest.Controller
@inject IHttpClientFactory _clientFactory

@if (string.IsNullOrWhiteSpace(tokenTracker.errorString) == false)
{
    // if there was an issue getting data
    <div class ="h2">@tokenTracker.errorString</div>
}
else if (tokenTracker.responseInfo is null)
{
    // while waiting for data 
    <div class ="h4">Loading...</div>
}
else
{
    //display data in tables
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Scope</th>
                <th>Token type</th>
                <th>Expires in</th>
                <th>Refresh token</th>
                <th>Access token</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@tokenTracker.responseInfo.Scope</td>
                    <td>@tokenTracker.responseInfo.Token_type</td>
                    <td>@tokenTracker.responseInfo.Expires_in</td>
                    <td>@tokenTracker.responseInfo.Refresh_token</td>
                    <td>@tokenTracker.responseInfo.Access_token</td>
                </tr>
        </tbody>
    </table>
}

@code {
    TokenTracker tokenTracker = new TokenTracker();
    protected override async Task OnInitializedAsync()
    {
        await tokenTracker.RetrievePost(_clientFactory);
    }
}